[submodule "vsq"]
	path = vsq
	url = https://github.com/kbinani/libvsq.git
[submodule "qt-property-browser"]
	path = qt-property-browser
	url = https://github.com/kbinani/qtpropertybrowser.git
[submodule "test/ext/gtest"]
	path = test/ext/gtest
	url = https://github.com/svn2github/googletest.git
